body {
  background-color: black;
  ;
  color: white
}

h1 {
  align-items: center;
  text-align: center;
}

.todo-wrapper {

  padding: 2%;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  max-height: 80%;


}

.todo-inp {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid gray;;



}
.todo-input{
  padding-right: 25px;;
  display:flex;
  align-items: flex-start;
  margin-right: 25px;;
  flex-direction: column;

}
.todo-input label{
  font-weight: bold;
  margin-bottom: 10px;
  font-size:25px;
  ;
}
.todo-input input{
  padding:10px;
width:250px;
font-size: 15px;

}
.todo-input input:focus{
  border:3px solid green;
  outline:none;
}
.primaryBtn{
  background-color: rgb(0,230,122);
  color: white;
border-radius:0px;;
margin-top:20px;
padding:10px;
width:60px;
cursor: pointer;
align-items: center;
}
.primaryBtn:hover{
  background-color: rgb(4,196,204);
}
.btn-area{
  align-items: center;
  justify-content: center;
  display: flex;


}
.secondary{
  background-color: gray;
    color: white;
    border-radius: 0px;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
      margin-left:20px;
    width: 60px;
    cursor: pointer;
    width:fit-content
}
.container {
  display: flex;
 flex-direction: column;
}

.todo-list2,.todo-list {
 
  

margin:0;
}
@media screen and (min-width: 768px) {
  .container {
    flex-direction: column;
   
    justify-content: space-around;
   
  }
}


.btn-area{
  margin-bottom: 15px;;
  align-items: center;
  justify-content: center;


}
.todo-list-item{
  background-color: #414040;
  display: flex;
  align-items: center;
 justify-content: space-between;
  padding:25px;
  padding-bottom: 10px;;
  padding-top: 10px;
 
  margin-bottom: 10px;
  box-shadow: 0px 3px 5px rgb(43, 42, 42);

}
.todo-list-item h3{
  color:rgb(0,230,122);
  font-size:20px;
font-weight: bold;
margin: 0;}
.todo-list-item p {
  color: rgb(0, 230, 122);
  font-size: 15px;
  font-weight: bold;
  margin-top: 8px;
}
.icon{
font-size: 35px;
cursor: pointer;

margin-left:20px
}
.checkicon {
  font-size: 35px;
  cursor: pointer;

  margin-left: 20px
}